@*<nav class="navigation">
    <div class="nav__container">
        <div class="nav_left">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="nav_menu" id="menu-links">
                <li><a href="./highjeweller/highjeweller.html">HIGH JEWELLERY</a></li>
                <li><a href="./finejeweller/finejeweller.html">FINE JEWELLERY</a></li>
                <li><a href="./wedding/wedding.html">WEDDING</a></li>
                <li><a href="./bespoke/bespoke.html">BESPOKE</a></li>
            </ul>
        </div>
        <a href="./homepage.html" class="nav_logo">
            <div class="nav_logo">
                <img src="~/assets/firstpart/LogoDavidMorris.png">
            </div>
        </a>
        <div class="nav_right">
            <a href="./bespoke/bespoke.html">Login</a>
            <a href="./bespoke/bespoke.html">Register</a>
            <a class="nav_like">
                <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.7831 3.5L13.3456 2.98438C14.8925 1.4375 17.0956 0.734375 19.205 1.10938C22.4393 1.625 24.83 4.4375 24.83 7.71875V7.95312C24.83 9.92188 23.9862 11.7969 22.58 13.1094L14.0956 21.0312C13.7675 21.3594 13.2987 21.5 12.83 21.5C12.3143 21.5 11.8456 21.3594 11.5175 21.0312L3.03308 13.1094C1.62683 11.7969 0.829956 9.92188 0.829956 7.95312V7.71875C0.829956 4.4375 3.17371 1.625 6.40808 1.10938C8.51746 0.734375 10.7206 1.4375 12.2675 2.98438L12.7831 3.5ZM12.7831 5.65625L11.1893 4.01562C10.0175 2.84375 8.32996 2.28125 6.64246 2.5625C4.15808 2.98438 2.28308 5.14062 2.28308 7.71875V7.95312C2.28308 9.5 2.93933 10.9531 4.06433 11.9844L12.5487 19.9062C12.5956 20 12.6893 20 12.7831 20C12.9237 20 13.0175 20 13.0643 19.9062L21.5487 11.9844C22.6737 10.9531 23.33 9.5 23.33 7.95312V7.71875C23.33 5.14062 21.455 2.98438 18.9706 2.5625C17.2831 2.28125 15.5956 2.84375 14.4237 4.01562L12.7831 5.65625Z" fill="#0D2A39"></path>
                </svg></i>
            </a>

            <a href="./shop/shop.html" class="nav_card">
                <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 6V4.5C6 2.01562 7.96875 0 10.5 0C12.9844 0 15 2.01562 15 4.5V6H18.75C19.9688 6 21 7.03125 21 8.25V19.5C21 21.9844 18.9844 24 16.5 24H4.5C1.96875 24 0 21.9844 0 19.5V8.25C0 7.03125 0.984375 6 2.25 6H6ZM7.5 6H13.5V4.5C13.5 2.85938 12.1406 1.5 10.5 1.5C8.8125 1.5 7.5 2.85938 7.5 4.5V6ZM2.25 7.5C1.82812 7.5 1.5 7.875 1.5 8.25V19.5C1.5 21.1875 2.8125 22.5 4.5 22.5H16.5C18.1406 22.5 19.5 21.1875 19.5 19.5V8.25C19.5 7.875 19.125 7.5 18.75 7.5H15V11.25C15 11.6719 14.625 12 14.25 12C13.8281 12 13.5 11.6719 13.5 11.25V7.5H7.5V11.25C7.5 11.6719 7.125 12 6.75 12C6.32812 12 6 11.6719 6 11.25V7.5H2.25Z" fill="#0D2A39"></path>
                </svg></i>
            </a>
        </div>
    </div>
</nav> *@