<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/homepage.css">
    <link rel="stylesheet" href="~/general.css">
    <link rel="stylesheet" href="~/HJearring.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <script src="/script.js" defer></script>
    <link class="favicon" rel="icon" type="image/x-icon" href="~/assets/logoDavm.png">
    <title>Rings-David Morris</title>
</head>
<body>
    <nav class="navigation">
        <div class="nav__container">
            <div class="nav_left">

                <ul class="nav_menu" id="menu-links">
                    <li><a href="#">HIGH JEWELLERY</a></li>
                    <li><a href="#">FINE JEWELLERY</a></li>
                    <li><a href="#">WEDDING</a></li>
                    <li><a href="#">BESPOKE</a></li>
                </ul>
            </div>
            <a href="./homepage.html" class="nav_logo">
                <div class="nav_logo">
                    <img src="~/assets/firstpart/LogoDavidMorris.png">
                </div>
            </a>
            <div class="nav_right">
                <a class="logininf" href=""><img src="~/assets/log-in (1).png"></a>
                <a class="registerinf" href=""><img src="~/assets/edit.png"></a>
                <a class="nav_like">
                    <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.7831 3.5L13.3456 2.98438C14.8925 1.4375 17.0956 0.734375 19.205 1.10938C22.4393 1.625 24.83 4.4375 24.83 7.71875V7.95312C24.83 9.92188 23.9862 11.7969 22.58 13.1094L14.0956 21.0312C13.7675 21.3594 13.2987 21.5 12.83 21.5C12.3143 21.5 11.8456 21.3594 11.5175 21.0312L3.03308 13.1094C1.62683 11.7969 0.829956 9.92188 0.829956 7.95312V7.71875C0.829956 4.4375 3.17371 1.625 6.40808 1.10938C8.51746 0.734375 10.7206 1.4375 12.2675 2.98438L12.7831 3.5ZM12.7831 5.65625L11.1893 4.01562C10.0175 2.84375 8.32996 2.28125 6.64246 2.5625C4.15808 2.98438 2.28308 5.14062 2.28308 7.71875V7.95312C2.28308 9.5 2.93933 10.9531 4.06433 11.9844L12.5487 19.9062C12.5956 20 12.6893 20 12.7831 20C12.9237 20 13.0175 20 13.0643 19.9062L21.5487 11.9844C22.6737 10.9531 23.33 9.5 23.33 7.95312V7.71875C23.33 5.14062 21.455 2.98438 18.9706 2.5625C17.2831 2.28125 15.5956 2.84375 14.4237 4.01562L12.7831 5.65625Z" fill="#0D2A39"></path>
                    </svg></i>
                </a>

                <a href="./shop/shop.html" class="nav_card">
                    <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 6V4.5C6 2.01562 7.96875 0 10.5 0C12.9844 0 15 2.01562 15 4.5V6H18.75C19.9688 6 21 7.03125 21 8.25V19.5C21 21.9844 18.9844 24 16.5 24H4.5C1.96875 24 0 21.9844 0 19.5V8.25C0 7.03125 0.984375 6 2.25 6H6ZM7.5 6H13.5V4.5C13.5 2.85938 12.1406 1.5 10.5 1.5C8.8125 1.5 7.5 2.85938 7.5 4.5V6ZM2.25 7.5C1.82812 7.5 1.5 7.875 1.5 8.25V19.5C1.5 21.1875 2.8125 22.5 4.5 22.5H16.5C18.1406 22.5 19.5 21.1875 19.5 19.5V8.25C19.5 7.875 19.125 7.5 18.75 7.5H15V11.25C15 11.6719 14.625 12 14.25 12C13.8281 12 13.5 11.6719 13.5 11.25V7.5H7.5V11.25C7.5 11.6719 7.125 12 6.75 12C6.32812 12 6 11.6719 6 11.25V7.5H2.25Z" fill="#0D2A39"></path>
                    </svg></i>
                </a>
            </div>
        </div>
    </nav>

    <div class="catalog__inner ">
    <div class="catalog__right">
        <div class="facetwp-selections"></div> <div class="catalog__products facetwp-template">

            <div class="catalog__product product type-product post-3898 status-publish first instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible animated">
                    <img src="~/HJringimages/ring1.1.png" alt="" width="405" height="335" class="animated">
                    <img src="~/HJringimages/ring1.2.png" alt="" width="405" height="335" class="hover animated">
                </a>
                <a href="" class="product__name">BURMA RUBY FLOWER RING</a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
            <div class="catalog__product product type-product post-3896 status-publish instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible animated">
                    <img src="~/HJringimages/ring2.1.png" alt="" width="405" height="335" class="animated">
                    <img src="~/HJringimages/ring2.2.png" alt="" width="405" height="335" class="hover animated">
                </a>
                <a href="" class="product__name">COLOMBIAN OVAL EMERALD RING </a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
            <div class="catalog__product product type-product post-3894 status-publish instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible animated">
                    <img src="~/HJringimages/ring3.1.png" alt="" width="405" height="335" class="animated">
                    <img src="~/HJringimages/ring3.2.png" alt="" width="405" height="335" class="hover animated">
                </a>
                <a href="" class="product__name">COLOMBIAN EMERALD RING </a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
            <div class="catalog__product product type-product post-3803 status-publish last instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible">
                    <img src="~/HJringimages/ring4.1.png" alt="" width="405" height="335">
                    <img src="~/HJringimagesring4.2.png" alt="" width="405" height="335" class="hover">
                </a>
                <a href="" class="product__name">CONFETTI OPAL RING</a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
            <div class="catalog__product product type-product post-3797 status-publish first instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible">
                    <img src="~/HJringimages/ring5.1.png" alt="" width="405" height="335">
                    <img src="~/HJringimages/ring5.2.png" alt="" width="405" height="335" class="hover">
                </a>
                <a href="" class="product__name">ELECTRA RING. RED SPINEL</a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
            <div class="catalog__product product type-product post-3803 status-publish last instock product_cat-bracelets-high-jewellery has-post-thumbnail taxable shipping-taxable product-type-simple">
                <a href="" class="product__image hover-visible">
                    <img src="~/HJringimages/ring6.1.png" alt="" width="405" height="335">
                    <img src="~/HJringimages/ring6.2.png" alt="" width="405" height="335" class="hover">
                </a>
                <a href="" class="product__name">ELECTRA RING. TOURMALINE</a>
                <div class="product__price"><span class="amount">POA</span></div>
            </div>
        </div>

    </div>

</div>
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>About us</h2>
                <div class="content">
                    <p>If you would like to organise a personal consultation or a video appointment, or require any other assistance please fill out the form below and we’ll be in touch to confirm your appointment and answer your queries..</p>
                    <div class="social">
                        <a href=""><img src="~/assets/facebook.svg" alt=""></a>
                        <a href="#"><img src="~/assets/twitter.svg"></a>
                        <a href=""><img src="~/assets/instagram.svg"></a>
                        <a href=""><img src="~/assets/youtube.svg"></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>Address</h2>
                <div class="content">
                    <div class="place">
                        <img src="~/assets/map.svg">
                        <span class="text">DAVID MORRIS INTERNATIONAL~NEW BOND STREET LONDON</span>
                        <br>
                    </div>
                    <div class="phone">
                        <img src="~/assets/telephone.svg">
                        <span class="text">+089-765432100</span>
                    </div>
                    <div class="email">
                        <img src="~/assets/envelope.svg">
                        <span class="text">abc@example.com</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2>Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <span class="credit">Created By <a href="https://www.codingnepalweb.com">DAVID MORRIS</a> | </span>
                <span class="far fa-copyright"></span><span> © 2023 DAVID MORRIS. WEBSITE BY IMAGINAIRE..</span>
            </div>
        </div>
    </footer>
</body>
</html>